*{
    margin: 0;
    padding: 0;
}
img{
    border: 0;
}
body{
    font-size: 14px;
    background: #151732;
}
#detail{
    width: 100%;
    min-width: 900px;
}
#left{
    width: 23%;
    background: #fff;
    float: left;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
#right{
    width: 50%;
    background: #fff;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

}
#head{
    width: 100%;
    height: 30%;
    overflow: hidden;
}
#head img{
    margin-left: 15%;
    margin-top: 5px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
#information h2{
    color: #d96300;
}
h2,h3,h4,h5,p{
    margin:0 10%;
    color: #000;
    line-height: 35px;
}
h3{
    text-align:center ;
}
#person h5{
    color: #aaaaaa;
    text-align: center;
}
/*#attention{*/
    /*width: 70px;*/
    /*height: 30px;*/
    /*background: #eb8706;*/
    /*font-size: 15px;*/
    /*position: absolute;*/
    /*top: 50px;*/
    /*left: 30px;*/
/*}*/

#information h4{
    margin-top: 20px;
    border-bottom:solid;
    border-bottom-color: #cccccc;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    margin-bottom: 20px;
}
#information{
    margin: 0 auto 30px;
}
#introduce h2{
    color: #d96300;
    margin-top: 5%;
}
#members h2{
    color: #d96300;
    margin-top: 5%;
}
#picture h2{
    color: #d96300;
    margin-top: 5%;
}
#picture img{
    text-align: center;
    margin:5% 5%;
}
