#container{
    width: 100%;
    background: #151732;
    position: absolute;
    height: 3200px;
}
#img1{
    width: 100%;
}
#content{
    position: relative;
    width: 80%;
    margin-left: 10%;
    top: 0;
}
.chinese{
    font-weight: bold;
    width: 40%;
    font-size: 0.15rem;
    float: left;
    text-align: center;
    line-height: 80px;
}
.english{
    font-size: 0.12rem;
    float: left;
    width: 60%;
    text-align:center ;
    line-height: 80px;
}
#college-introduce {
    background: #d96300;
    width: 30%;
    height: 80px;
    float: left;
    cursor: pointer;
}
#competition-rules{
    width: 33%;
    height: 80px;
    cursor: pointer;
    float: left;
    background: #a40700;

}
#exhibition-of-works{
    width: 37%;
    height: 80px;
    float: left;
    background: #a40700;
    cursor: pointer;

}
#STEP-01{
    margin: 20px 20px 30px 20px;
}
#school-introduce{
    line-height: 20px;
}
#STEP-02{
    margin: 20px 20px 30px 20px;
    position: relative;
}
#STEP-02-text{
    height: 273px;
    overflow: hidden;
}
#STEP-02 p{
    font-size: 18px;
    cursor: pointer;
}
.step{
    color: #e86800;

}
.duan{
    line-height: 30px;
}
#STEP-02 span{
    border-bottom: dotted;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;

}
#rule-1{
    margin: 20px 0;
    width: 100%;
}
#open-all p{
    width: 100%;
    text-align: center;
    color: #eee;
    margin-top: 30px;
    opacity: .5;
    filter: alpha(opacity=50);
}
#put-away{
    width: 100%;
    text-align: center;
    color: #eee;
    margin-top: 30px;
    opacity: .5;
    filter: alpha(opacity=50);
    display: none;
}
#arrow-down{
    width: 25px;
    height: 25px;
    margin-left: 49%;
    text-align: center;
}
#STEP-03{
    background: #000000;
    margin: 30px 20px;
}
#third{
    width: 100%;

}
#banner{
    position: relative;
    overflow: hidden;
}
#prev{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 150px;
    left: 30px;
    cursor: pointer;
}
#next {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 150px;
    right: 30px;
    cursor: pointer;
}
#tab{
    position: absolute;
    right: 80px;
    bottom: 10px;
}
#tab li{
    width: 20px;
    height: 20px;
    float: left;
    background: #0000ff;
    color: #fff;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
#tab .selected{
    background: #ffffff;
}
#content2{
    margin-left: 65px;
    margin-right: 65px;
    height: 300px;
    overflow: hidden;
}
#content2 img{
    width: 100%;
    display: none;
}
#content .selected{
    display: block;
}

#works{
    margin: 10% 10%;
}

#works img{
    /*width: 20%;*/
    /*height: 130px;*/
    /*margin-left: 30px;*/
    /*margin-bottom: 70px;*/
}
ul{
    width: 26%;
    margin: 15px 20px;
    float:left;
}
li{
    margin: 15px 15px;
}
li img{
    width: 100%;
}

#return{
    width: 100%;
    text-align: center;
    color: #eee;
    margin-top: 10px;
    margin-bottom: 30px;
    opacity: .5;
    filter: alpha(opacity=50);
}
#go-up{
    cursor: pointer;
}
#arrow-up{
    width: 25px;
    height: 25px;
    margin-left: 49%;
    text-align: center;
}
#footer{
    width: 100%;
    background: #191919;
    height: 150px;
    padding-top: 50px;
}
#footer img{
    width: 50px;
    padding-left: 48%;

}
#footer h6{
    width: 100%;
    font-size: 16px;
    color: #eee;
    opacity: .5;
    filter: alpha(opacity=50);
    text-align: center;
}