
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border: 0;
}

body{
    font-size: 0.28rem;
    background-color: #f0efed;
}
.ui-content{
    font-size: 0.28rem;
    padding: 0;
}
#header{
    font-size: 0.28rem;
}
#footer{
    font-size: 0.28rem;
}

